a{
  text-decoration: none;
  color: inherit;
}

body{
  background: black;
  color: white;
}

.header {
  background-color:#AE03FF;
  height: 30px;
  line-height: 30px;
  margin-bottom: 110px;
  padding: 0 100px;
  font-family: Roboto;
  font-size: 16px;
}

.about{
  color: rgba(255, 255, 255, 0.5);
  float: right;
}

.buttonContainer{
  margin: 20px 0;
}

.buttonDownload{
  border: 2px solid #AE03FF;
  color: #AE03FF;
  min-width: 184px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
}

.buttonDownload > a{
  color: #AE03FF;
  display: block;
}

.buttonSpecimen{
  background: none;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.5);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  height: 45px;
  letter-spacing: 0.05em;
  line-height: 23px;
  margin: 0 9px 11px 0;
  min-width: 184px;
  text-align: center;
}

.buttonSpecimen > a{
  color: rgba(255, 255, 255, 0.5);
  display: block;
}

.description{
  width: 484px;
  height: 90px;
  font-family: Roboto;
  line-height: 23px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.fontContainer{
  padding: 0 100px;
}

.fontDescript{
  margin: 20px 0;
  font-family: Roboto;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.fontDetails{
  font-family: Roboto;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.fontFamily{
  font-family:Roboto;
  font-size:16px;
  margin-bottom: 5px;
}

.fontPreview{
  border-right: 3px solid rgba(255, 255, 255, 0.7);
  font-size: 192px;
  color: #FFFFFF;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 200px;
  margin-top: -8px;
}

.fontSize-1:before{
  content: "192 points";
  font-family: Roboto;
  font-size: 12px;
  color:rgba(255, 255, 255, 0.5);
}

.fontSize-2:before{
  content: "24 points";
  font-family: Roboto;
  font-size: 12px;
  color:rgba(255, 255, 255, 0.5);
}

.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 107px;
  margin: 19px 0 80px 0;
  padding: 0 97px 0 0;
}

.sampleText{
  font-size: 24px;
  letter-spacing: 0.05em;
  overflow-y: auto;
  color: #FFFFFF;
  float: right;
  height: 192px;
  line-height: 28px;
}

.backToTop{
  display: none;
}


/* ------------------------------------------ */


@media only screen and (max-width: 600px) {
  button{
    margin: auto;
  }

  .header {
    background-color:#AE03FF;
    height: 30px;
    line-height: 30px;
    margin-bottom: 36px;
    font-family: Roboto;
    font-size: 16px;
    padding: 0 15px;
  }
  
  .about{
    color: rgba(255, 255, 255, 0.5);
    float: right;
  }

  .backToTop{
    position: fixed;
    right: 15px;
    top: 620px;
    display: inline;
  }

  .buttonDownload{
    width: 100%;
  }
  
  .buttonSpecimen{
    width: 100%;
  }

  .buttonContainer{
    margin: 0;
  }

  .fontContainer{
    padding: 0 15px;
  }

  .fontDescript{
    margin: 30px 0;
  }
  
  .fontDetails{
    font-family: Roboto;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .fontFamily{
    font-family:Roboto;
    font-size:16px;
  }
  
  .fontPreview{
    border-right: 3px solid rgba(255, 255, 255, 0.7);
    max-width: 90vw;
    font-size: 96px;
    color: #FFFFFF;
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
    height: 110px; 
    padding-top: 0px;
  }

  .fontSize{
    margin: 15px 0 30px 0;
  }

  .fontSize-1:before{
    content: "96 points";
  }
  
  .grid-container{
    display: grid;
    grid-template-columns:auto;
    column-gap: 0px;
    margin: 19px 0 60px 0;
    padding: 0 0 0 0;
  }
  
  .sampleText{
    /* width: 305px; */
    font-size: 24px;
    letter-spacing: 0.05em;
    overflow-y: auto;
    height: 190px;
    color: #FFFFFF;
    margin-bottom:15px;
    padding-bottom: 0;
  }
}

/* ====================================== */

.aboutPage{
  color:#AE03FF;
  font-family:Roboto;
  font-size:16px;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  position: absolute;
  top: 35%;
  transform: translate(-50%, -50%);
  height: 100px;
  text-align: center;
  font-family: "Comic Sans MS";
}